<elmah>
  <security allowRemoteAccess="yes" />

  <errorLog type="Elmah.SqlErrorLog, Elmah"
          connectionStringName="GMRDB" />

  <errorMail
         from="admin@dubaonhanluchcmc.gov.vn"
         to="samuraitruong@yahoo.com"
         subject="Error on website : dubaonhanluchcmc.gov.vn"
         priority="High"
         async="true"
         smtpPort="25"
         smtpServer="mail.dubaonhanluchcmc.gov.vn"
         useSsl="false"
         userName="admin@dubaonhanluchcmc.gov.vn"
         password="scLlJTE0"
         noYsod="true" />
</elmah>