<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GMREntities" connectionString="metadata=res://*/GMR.csdl|res://*/GMR.ssdl|res://*/GMR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.4.124;initial catalog=GMR_BETA;Trusted_Connection=False;User ID=gmr_beta;Password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GMREntities" connectionString="metadata=res://*/GMR.csdl|res://*/GMR.ssdl|res://*/GMR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.4.124;initial catalog=GMR_BETA;Trusted_Connection=False;User ID=gmr_beta;Password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>